* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$maxSizeOfBox: 100%;
$minSizeOfBox: 0;

body {
    background-color: aqua;
}

header {
    width: $maxSizeOfBox;
    height: 40px;
    background-color: rgb(255, 0, 221);
}
.topHeader {
    width: $maxSizeOfBox;
    height: 40px;
    background-color: blue;
    display: flex;
    flex-direction: row;
}
.leftSectionOfHeader {
    width: 33.33%;
    height: 40px;
}
.centerSectionOfHeader {
    width: 33.33%;
    height: 40px;
}
.rightSectionOfHeader {
    width: 33.33%;
    height: 40px;
}
.leftSectionOfHeader {
    display: flex;
    flex-direction: row;

}
img {
    height: $maxSizeOfBox;
    width: $maxSizeOfBox;
    color: white;
    align-items: center;
    justify-content: center;
}
p {
    height: $maxSizeOfBox;
    width: $maxSizeOfBox;
    color: rgb(82, 79, 79);
    align-items: center;
    justify-content: center;
}
.leftSectionOfHeader div, p {
    padding: 3%;
}
.centerSectionOfHeader {
    display: inline;
    position: relative;
    padding-left: 7%;
    padding-top: 3px;
    
}
.currencyChoise {
    height: $maxSizeOfBox;
    width: $maxSizeOfBox;
    position: relative;
}
a {
    text-decoration: none;
}
select {
    margin-left: 65%;
    margin-top: 4%;
    background-color: blue;
    color:  rgb(82, 79, 79);
    width: 30%;
    border-style: none;
}
.contactMenu {
    position: absolute;
    z-index: 9999;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    display: none;
}
.contactMenu p {
    padding: 0;
    width: 5%;
    height: 10px;
    font-size: 80%;
    margin-bottom: 25%;
}


    /*HOVER START*/
    .centerSectionOfHeader p:hover {
        color: white;
    }
    .contact p:hover {
        color: white;
    }
    .blog p:hover {
        color: white;
    }
    .contact:hover .contactMenu{
        display: block;
    }

    /*HOVER ENDING*/


    .buttomHeader {
        height: 150%;
        width: $maxSizeOfBox;
        background-color: rgb(145, 140, 140);
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logoTextBox {
        height: 100%;
        width: 10%;
       
    }
    .logoTextBox p {
        color: white;
        font-size: 180%; 
        margin-top: 100%;
        margin-left: 100%;
    }
    .logoOfJournal {
        width: 15%;
        height: $maxSizeOfBox;
        
    }
    .categoriesMenu {
        width: 5%;
        height: $maxSizeOfBox;
    }
    .search {
        width: 40%;
        height: $maxSizeOfBox;
        display: flex;
        flex-direction: row;
    }
    .activeUserChoise {
        width: 20%;
        height: $maxSizeOfBox;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between;
    }
    .basketOfOrder {
        width: 10%;
        height: $maxSizeOfBox;
        position: relative;
    }
    .basketOfOrder img {
        height: 50%;
        width: 50%;
        margin-top: 15%;
        margin-left: 15%;
    }
    .activeUserChoise div {
        width: 80%;
        height: 60%;
        margin-top: 3%;
        
    }
    .activeUserChoise p {
        font-size: 8px;
    }
    .activeUserChoise img {
        width: 100%;
        height: 100%;
    }
    .catMenu img {
        margin-top: 30%;
    }
    .choise {
        width: 25%;

    }
    .choise select {
        width: 70%;
        height: 50%;
        margin-left: 30%;
        margin-top: 15%;
    }
    .inputSearch input {
        margin-top: 8%;
        height: 50%;
    }
    .submitFinder {
        height: 50%;
        width: 10%;
        margin-top: 3.6%;
    }

